body {
    font-family: 'Gill Sans';
}

a:link {
    text-decoration: none;
}

td {
    vertical-align:top;
    padding-left: 20px;
    padding-right: 20px;
}

.signup_button {
    border:3px solid #AAA;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16pt;
    text-decoration: none;
    color: white;
    background-color: #44d;
    border-radius: 10px;
}

/* copying the widget */
.morelinks {
    background: #161652;
    font: normal normal normal 10pt Calibri; 
    color: white;
    list-style: none;
    padding: 20 px;
}
.morelinks  a:link {
    color: #F1F5A0;
    text-decoration: none;
}

.morelinks  a:visited {
    color: #EEE474;
}

.morelinks a:hover {
    background: #EEEEEE;
    color: #161652;
}
